html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

:root {
  --maroon: #B92E00;
  --white: #ffffff;
  --black: #000000;
}

body {
  margin: 0;
  min-height: 100vh;
  background: var(--black);
}

/* Utilities */

.fredoka {
  font-family: 'Fredoka One', cursive;
}

/* Header */
.logo {
  filter: drop-shadow( 0 0 5px rgba(0, 0, 0, .7));
  max-width: 200px;
  position: fixed;
  left: 2rem;
  top: 2rem;
  z-index: 10;
}

header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background: var(--black);
  background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
}

/* Player */

#videoFrame, .static, .full {
  height:calc(100vh - 4px);
  width:calc(100vw - 4px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: var(--black);
  opacity: 0;
}

.is-loaded #videoFrame, .is-loaded .static, .full {
  opacity: 1;
}

.static {
  z-index: 1
}

.static.hidden {
  visibility: hidden;
  opacity: 0;
}

#startButton {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: var(--white);
  font-size: 5rem;
  display: block;
  cursor: pointer;
  transition: transform 0.2s ease-out;
  z-index: 20;
}

.is-loaded #startButton {
  display: none;
}

/* Player UI */
.player-ui {
  visibility: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
  z-index: 10;
  text-shadow: 0 0 5px rgba(0,0,0,.7);
}

.player-ui-data {
  padding: 0 2rem;
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}

.align-right {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.player-round-counter {
  font-size: 2rem;
  color: var(--white);
  margin-left: auto;
}

.player-time-elapsed {
  font-size: 2rem;
  color: var(--white);
}

.player-controls {
  margin-right: 1em;
}

.player-controls span,
.player-controls button {
  display: inline-block;
  margin-right: 1rem;
  cursor: pointer;
  transition: transform 0.2s ease-out;
}

.player-controls button {
  appearance: none;
  background: none;
  border: none;
  outline: none;
}

.player-controls span:last-child {
  margin-right: 0;
}

.player-controls span:hover,
.player-controls button:hover {
  transform: scale(1.05);
}

.player-controls span i,
.player-controls button i {
  color: var(--white);
  font-size: 2rem;
}

.player-progress {
  height: 0.5rem;
  margin-bottom: 1rem;
}

.player-progress .progress-bar {
  background: var(--maroon);
  height: 0.5rem;
  position: absolute;
  right: 0;
  width: 100%;
  transition: width 1s linear;
}

.player-progress .progress-bar.no-animation {
  transition: none;
}

.is-loaded .player-ui {
  visibility: visible;
}

/* Settings */

.settings-panel {
  width: 600px;
  background: var(--black);
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  padding: 2rem 2rem 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 5px rgba(0,0,0,.7);
  text-shadow: none;
}

.settings-panel.open {
  display: block;
}

.settings-panel h2 {
  margin: 0 0 1rem;
  padding: 0 0 0.5rem;
  line-height: normal;
  color: var(--white);
  font-size: 2rem;
  border-bottom: 4px dotted rgba(255,255,255,0.2);
}

.settings-panel .close-button {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  background: none;
  appearance: none;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  color: var(--maroon);
  transition: transform 0.2s ease-out;
}

.settings-panel .close-button:hover {
  transform: scale(1.1);
}

.settings-panel ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.settings-panel ul li {
  margin: 0 0 1rem;
}

.settings-panel ul a {
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--white);
}

.settings-panel ul a i {
  display: inline-block;
  margin-right: 0.25rem;
}

/* Intro */

/* .intro-link {
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 100%;
  display: block;
  outline: none;
  border: none;
}

.player-controls span.offline {
  cursor: not-allowed;
  transition: all .2s ease-out;
}

.player-controls span.offline:hover {
  opacity: 0.5;
} */

.start header {
  outline: 1px solid red;
}

.start-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% -50%);
  color: white;
}

.start #videoFrame {
  background: red;
}
